@import 'vars.scss';

body {
    background-color: #050d1f;
}

h1 {
    text-align: center;
}

hr {
    margin-top: 20px;
}

.my-component {
    background-color: white;
    padding: 2em;
    color: black;
}

.new-component {
    text-align: center;
    height: 60px;
    padding-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
}

.useful-links li {
    background-color: white;
    list-style-type: none;
    border-bottom: solid 2px black;
}